* {
    box-sizing: border-box;
    display: flex;
    margin: 10px;
}

div {
    background-color: gray;
    width: 400px;
}

p {
    clear: left;
}

.chicken {
    background-color: pink;
    float: top;
    width: 60px;
    height: 30px;
    
}
.beef {
    background-color: red;
    float: left;
    width: 80px;
    height: 30px;
}
.sushi {
    background-color: yellow;
    float: left;
    width: 80px;
    height: 30px;
}

